<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>編集画面</title>
<link rel="stylesheet" href="css/detail.css">
</head>
<body>
<h1>編集</h1>
<br>
<div th:object="${detaillForm}">
<table>
	<tbody>
	  <tr>
			<th>動物の名前</th>
		    <td>
		    	<input type="text" th:value = "*{animal}" />
		    </td>
	  </tr>
	  <tr>
	    <th>特徴</th>
	    <td>
	    	<input type="text" th:text="*{features}"/>
	    </td>
	  </tr>

	  <tr>
	    <th>生息地</th>
	    <td><input type="text" th:text="*{habitat}"/></td>
	  </tr>
	</tbody>
</table>
<input type = "submit" onclick = "location.href='/detail'" value = "戻る">
</div>
<input type = "submit" onclick = "location.href='/index'" value = "完了">
</body>
</html>